.myskills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr;

  h1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-family: ephesis;
    color: #6d7e5a;
    font-size: 60px;
    text-align: left;
    margin-left: 10px;
    padding-top: 200px;
    padding-bottom: 10px;
  }

  div {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    background-color: white;
    width: 1075px;
    height: 525px;
    border: 1px solid #a09c9c;
    border-radius: 30px;
    padding: 0px;
    margin: 0px;
  }
}
