.projects {
  display: block;

  h1 {
    font-family: ephesis;
    color: #6d7e5a;
    font-size: 70px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
